
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
*{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.card{
    transition: background-color,color 0.3s ease, transform 0.3s ease; 

}

.card:hover{
    transform: scale(1.02);
    background-color:#16181c ;
}

.image{
    position: relative;
}

.play p{
    display: flex;
    opacity: 1;
    color: white;
    background-color: rgb(22, 24, 28,0.5);
    position: absolute;
    right: 0%;
    bottom:0%;
    opacity: 0;
    /* translate: 0 25%; */
    transition: all 0.2s ease-in;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

}



.image:hover .play p{
    /* translate: 0 0; */
    opacity: 1;
}
.title{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.desc{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}